<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286425881714-gtsrquj0s7uakah3563dlut56pc3m7co.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286425881714-gtsrquj0s7uakah3563dlut56pc3m7co</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>286425881714-0j9b3bacgcumh3duka8i671setbuh0c3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAA_ndTK0eVVDqTGgbZiaWODKuMzfKzthI</string>
	<key>GCM_SENDER_ID</key>
	<string>286425881714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voidfactor.app</string>
	<key>PROJECT_ID</key>
	<string>signinpractice-bfade</string>
	<key>STORAGE_BUCKET</key>
	<string>signinpractice-bfade.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286425881714:ios:21cf12699c3588749cb6eb</string>
</dict>
</plist>
